<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="application" type="SimpleConfig.Section, SimpleConfig"/>
    <section name="app" type="SimpleConfig.Section, SimpleConfig"/>
    <section name="custom" type="SimpleConfig.Section, SimpleConfig"/>
  </configSections>
  <application>
    <build version="0.0.0.0" date="10/25/1985" deployTarget="Dev"/>
  </application>
  <app>
    <build version="1.1.1.1" date="11/26/1986" deployTarget="CI"/>
  </app>
  <custom>
    <build dependencies="this,that"/>
  </custom>
</configuration>
