<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="application" type="SimpleConfig.Section, SimpleConfig"/>
  </configSections>
  <application>
    <build version="0.0.0.0" date="10/25/1985" deployTarget="Dev"/>
  </application>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
